:root {
  --dark: #14181b;
  --navbar-dark: #101315;
  --color: #c5bfbf;
  --button-basic: #202020;
}

body {
  padding: 0;
  margin: 0;
}
a {
  color: var(--color);
  text-decoration: none;
}

#root {
  background-color: var(--dark);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Verdana", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.navbar {
  background-color: var(--navbar-dark);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.navbar-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: grey 1px solid;
}
.navbar-content {
  color: var(--color);
}
.navbar-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navbar-content ul li {
  padding: 0.3rem;
}
.navbar-content.closed {
  display: none;
}
.navbar-content.open {
  display: block;
}
.navbar-link span {
  margin-left: 0.5rem;
}
.navbar-button {
  border: none;
  color: var(--color);
  font-size: 20px;
  background-color: var(--button-basic);
  padding: 5px 10px;
  border-radius: 5px;
}
